* {
    border: 0;
    padding: 0;
    margin: 0;
}
div {
    display: block;
}
img{
    overflow-clip-margin: content-box;
    overflow: clip;
    display: block;
    color: #324d96;
}
video{
    object-fit: contain;
    overflow-clip-margin: content-box;
    overflow:clip ;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Inter',Arial;
    font-size: 16px;
    font-weight: 500;
    background: #efefef;
    color: #000;
    -webkit-font-smoothing: antialiased;
}
.header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 25px 35px;
    font-size: 15px;
    font-weight: 600;
}
.header-content {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1000;
    font-weight: 600;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: -149px;
}
.nav a{
    margin-right: 25px;
    text-decoration: none;
    padding-top: 7px;
    padding-bottom: 7px;
    float: left;
    color: #1b1a1b;
    text-transform: uppercase;
}
.mob{
    display: none;
    width: 50px;
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
.menu{
    display: none;
}
.main-content{
    display: flex;
    width: 100%;
    justify-content: center;
    clear: both;
    overflow: visible;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}
.main-top{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: #fff;
    height: 100vh;
    overflow: hidden;
}
.video-blob{
    width: 100%;
    max-width: none;
}
h1{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',Arial;
    -webkit-text-stroke-color: #24cbff;
    -webkit-text-stroke-width: 1px;
    -webkit-font-smoothing: antialiased;
    color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 96px;
    font-weight: 800;
    line-height: 1.3em;
}
/* Второй блок */
.block-def-2{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    background-color:#efefef;
    box-shadow: 0 20px 20px #e1e1e1;
    padding-bottom: 80px;
}
.def{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.maintitle{
    position: absolute;
    text-transform: uppercase;
}
.title{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.services{
    display: flex;
    width: 1180px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 30px;
}
.service{
    width: 49%;
    margin-left: 2%;
}
h2{
    width: 1180px;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Montserrat',Arial;
    color: #2d4dd7;
}
.threeh2{
    color: #000;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat',Arial;

}
.item-sepia{
    background-color: #ffffff;
}
.item{
    width: 100%;
    border-radius: 8px;
    padding: 45px 40px;
    box-shadow: #00000008 0 10px 5px;
    margin-bottom: 20px;
    background-color:#ffffff;
}
.caption{
    width: 100%;
    clear: both;
}
h3{
    font-size: 24px;
    font-weight: 800;
    line-height: 1.4em;
    text-transform: uppercase;
    font-family: 'Montserrat',Arial;
}
.desc{
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5em;
}
.images{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.desc a{
    height: 100px;
    background-size: cover;
}

.logos{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}
.logo{
    margin-right: 25px;
    float: left;
    background: #fff;
    border-radius: 60px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    max-height: 40px;
    max-width: 40px;
}
.hide{
    display: none!important;
    margin-bottom: 10px;
}
.text{
    margin-bottom: 12px;
}
.list{
    width: 100%;
    margin-bottom: 10px;
}
.check{
    margin-top: 7px;
    float: left;
    padding: 5px;
    background: #00000052;
    border-radius: 30px;
    margin-right: 6px;
}
.colibri{
    font-weight: 700;
}
.show{
    display: block!important;
    width: 100%;
    margin-bottom: 10px;
}
.elem{
    margin-bottom: 12px;
    width: 100%;
}
.disclosure{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 300;
    cursor: pointer;
    width: 100%;
    color: #324d96;    
}
.disclosure:hover{
    color: #c10000;
}
.disclosure-black{
    color: #fff;
}
.disclosure-white{
    color: #324d96;
}
.symb{
    transform: rotateZ(90deg);
}
.symb-show{
    transform: rotateZ(270deg);
}
.item-blue{
    background-color: #2d4dd7;
    color: #ffffff;
}
.item-green{
    background-color: #44894d;
    color: #ffffff;
}
.item-purple-light{
    background-color: #c947a1;
    color: #ffffff;
}
.item-gray{
    background-color: #ffffff;
}
/* Partners block */
.block-def{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
    padding-top: 80px;
    padding-bottom: 80px;
}
.partners{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 60px;
    flex-wrap: wrap;
}
/* Поменять Item в Partners на Item ниже */
.partneritem{
    float: left;
    background-color: #f9f9f9d1;
    width: 11%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 20px;
    border-radius: 6px;
}
.partneritem img{
    max-width: 120px;
    max-height: 50px;
}
/* Reviews block */
.reviews{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 1180px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
.swiper{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: clip;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}
.swiper-horizontal{
    touch-action: pan-y;
}
.swiper-wrapper{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function,initial);
    box-sizing: content-box;
}
.title-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1180px;
    margin-top: 50px;
    font-size: 16px;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;margin-top: 7px;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.last-cont{
    width: 100%;
    margin-bottom: 220px;
}
.bottom-cont{
    width: 100%;
}
.copy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 20px;
}
svg{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.message{
    flex: 1;
    margin-right: 1.5%;
}
.reviewstext{
    clear: both;
    background-color: #1a55df;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    padding: 25px 40px;
    border-radius: 12px;
    border-bottom-right-radius: 0;
    line-height: 1.4em;
    position: relative;
}
.author{
    clear: both;
    float: right;
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.name{
    font-weight: 300;
    line-height: 1.3em;
    text-align: right;
}
.photo{
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin-left: 20px;
}
.text-green{
    background-color: #44894d;
}
.text-white{
    background-color: #f5f5f5;
    color: #000000;
}
/*Revews*/
.logo-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 220px;
    height: 100px;
    background-color: #f9f9f9d1;
    border-radius: 6px;
    margin-right: 20px;
}
.svgcontacts{
    width: auto;
    height: 32px;
}
.telegramsvg{
    color: #27a7e5;
}
.mailsvg{
    color: #2d4dd7;
}
/*End logo*/
.endcopy{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 20px;
}

